.sidebar {
    background-color: rgb(31, 134, 65) !important;
}

body {
    background-color: rgb(241, 255, 245);
}

.chart {
    margin-top: 1.5em;
    border-radius: 1em;
}

@media (max-width: 1300px) {
    .chart {
        height: 370px;
    }
}