:root {
    --color-1: #2c3333;
    --color-2: #395b64;
    --color-3: #e7f6f2;
    --color-4: #a5c9ca;
}

* {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--color-1);
    color: var(--color-3);
}

h2 {
    font-family: 'Merriweather', serif;
    font-weight: normal;
    font-size: 2.0em;
}

table {
    border-radius: 15px;
    background-color: var(--color-2);
    padding: 10px;
    margin: 20px;
    width: 40vw;
    height: auto;
}

.highlighted_table {
    background-color: var(--color-4);
    color: black;
    border: 1px solid black;
}

th {
    font-weight: normal;
}

@media (max-width: 700px) {
    table {
        width: 90vw;
    }
}