:root {
    --color-1: #2c3333;
    --color-2: #395b64;
    --color-3: #e7f6f2;
    --color-4: #a5c9ca;
}

* {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--color-1);
    color: var(--color-3);
}

#super_header {
    background-color: var(--color-3);
    height: 250px;
}

#left_silh {
    height: 250px;
}

#right_silh {
    height: 250px;
    float: right;
}

h2 {
    font-family: 'Merriweather', serif;
    font-weight: normal;
    font-size: 2.0em;
}

#header_grid {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
}

#header_grid section {
    padding: 20px;
}

#contact_info {

}

#social {
    text-align: right;
}

table {
    border-radius: 15px;
    background-color: var(--color-2);
    padding: 10px;
    margin: auto;
    margin-top: 30px;
    width: 95%;
    height: auto;
    display: block;
}

.highlighted_table {
    background-color: var(--color-4);
    color: black;
    border: 1px solid black;
}

th {
    font-weight: normal;
}

ul {
    list-style: none;
}

.main_grid {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
}

.main_grid section {
    margin: 20px;
    padding: 10px;
}

.one {
    grid-column: 1;
    grid-row: 1;
}

.two {
    grid-column: 2;
    grid-row: 1;
}

.two h2 {
    text-align: right;
}

.three {
    grid-column: 1;
    grid-row: 2;
}

.four {
    grid-column: 2;
    grid-row: 2;
}

.four h2 {
    text-align: right;
}

footer {
    height: 10vw;
    background-color: var(--color-3);
}

#mouse {
    height: 75%;
    position: relative;
    top: 25%;
    left: 25%;
}

@media (min-width: 600px) {
    
}